.container {
  height: 7rem;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #111b21;
  &:hover {
    background-color: #33333355;
    opacity: 0.8;
    cursor: pointer;
  }
}
.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #777;
  margin-left: 1rem;
  &:hover {
    opacity: 1;
  }
}
.user_info {
  color: #f4f4f4;
  font-size: 1.5rem;
}

.form {
  display: flex;
}
.link {
  text-decoration: none;
}
